<!-- Single button -->
<div class="btn-group">
  <img src="Contains/orinsalogo.jpg" />
  <button type="button" class="btn btn-dark ">Anasayfa</button>
  <button type="button" class="btn btn-light">-----------------------------------------------------------------------------------------------------------------------------------------------------------</button>
  <a routerLink="login"><button class="btn btn-info" > Giriş Yap </button></a>
    <a routerLink="register"><button class="btn btn-success" > Üye Ol </button></a>
</div>